<!--네비게이션바에 메뉴선정-->
<span class="sr-only">Navigation:</span>
<ul>
      <!-- 메뉴 각각을 식별하기위한 인덱스 -->
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(9)" onmouseout="javascript:spread(9)">
           <!-- submenu 변수는 _config.yml 에서 추가합니다 -->          
          <a
            id="_drawer--opened"
            href="/about/"
            class="sidebar-nav-item "
            >
            About
          </a>
       </div>
      </li>
    
      
      <!-- 메뉴 각각을 식별하기위한 인덱스 -->
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(10)" onmouseout="javascript:spread(10)">
           <!-- submenu 변수는 _config.yml 에서 추가합니다 -->
          <a
            href="/project/"
            class="sidebar-nav-item "
            >
            Project
          </a>
       </div>
      </li>
    
      
      <!-- 메뉴 각각을 식별하기위한 인덱스 -->
      
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(12)" onmouseout="javascript:spread(12)">
           <!-- submenu 변수는 _config.yml 에서 추가합니다 -->
          
            <!-- spread 함수는 js 파일로 작성하고 my-head.html에 추가합니다 -->
            <!-- spread-btn class는 my-style.scss에 추가합니다. -->
          <button class="spread-btn">
                <!-- marterial stylesheet를 my-head.html에 추가합니다 -->
              <span id="spread-icon-12" class="material-icons">arrow_right</span>
          </button>
          
          <a
            
            href="/blog/"
            class="sidebar-nav-item "
            
            >
            Blog
          </a>
        
          
          <div id="submenu-12" class="menu-wrapper submenu hide">
              <li>
                <a
                  class="sidebar-nav-item "
                  href="/test/"
                  >
                  test
                </a>
              </li>
            
            </ul>
          </div>
          
       </div>
      </li>
</ul>